<body class="bg-warning">
  <div class="container mt-5 pt-5">
    <i class="fa fa-camera-retro"/i>

    <h1 class="text-center display-4">Listing Favourite Superheros</h1>
    <div class="btmv">
      <%= link_to 'New article', new_article_path, class: "btn btn-danger" %>
      <%= link_to 'home', root_path, class: "btn btn-danger" %>
    </div>   
    <br><br>
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-4 ">
          <div class="card mb-4">
            <%= link_to article_path(article) do %>
              <% if article.cover_image.present? %>
                <%= image_tag article.cover_image.url, class: "hw" %>
              <% else %>
                <%= image_tag "capt america.jpeg", class: "hw" %>
              <% end %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title">Title: <%= article.title %></h5>
              <p class="card-text">Text: <%= article.text %></p>
              
              <%= link_to 'Show', article_path(article),class: "btn btn-danger" %>
              <%= link_to 'Edit', edit_article_path(article) ,class: "btn btn-info"%>
              <%= link_to 'Destroy', article_path(article),class: "btn btn-success",
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>  
      <% end %>      
    </div>  
  </div>  
</body>
