<div class="container mt-5 ">
	<div class="ml-5 card">
		<div class="card-header ">
			<%=image_tag @article.cover_image.url,class: "hw"%>
			<strong >Title:</strong>
			<%= @article.title %>
			<strong>Text:</strong>
			<%= @article.text %>
			<strong>Ckeditor:</strong>
			<%= @article.template_text.html_safe %>
		</div>
		<div class="card-body bg-danger">
			<h2 class="text-center">Comments</h2>
			<%=render @article.comments%>
			<h2>Add a comment:</h2>
			<%= render 'comments/form' %>
		</div>
	</div>
	<br>
	<div class="mx-auto">
		<%= link_to 'Edit', edit_article_path(@article),class: 	"btn btn-warning"%>
		<%= link_to 'Back', articles_path,class: "btn btn-warning" %>
	</div>
</div>